body {
  background-color: #0d0d0d;
  color: #00ffcc;
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
}

button, select {
  background-color: #111;
  color: #00ffcc;
  border: 1px solid #00ffcc;
  padding: 6px 12px;
  margin: 4px;
  font-family: 'Courier New', monospace;
  cursor: pointer;
}

button:hover, select:hover {
  background-color: #00ffcc;
  color: #000;
}

#map {
  height: 100vh;
  width: 100%;
}

.info-window {
  background-color: #111;
  color: #00ffcc;
  font-size: 12px;
  padding: 6px;
  border-radius: 4px;
  font-family: monospace;
}

body.dark::after {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 255, 204, 0.03),
    rgba(0, 255, 204, 0.03) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
  z-index: 9999;
}
